<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="myContainer">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="@Url.Action("Index", "Home")" class="navbar-brand">
				<img src="/Content/Images/Logo.png" alt="Logo" class="logo-img"><text>Weather UA</text>
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@Html.ActionLink("History", "Index", "History")</li>
				<li>@Html.ActionLink("About", "About", "Home")</li>
				<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
			</ul>
		</div>
	</div>
</div>
<div class="myContainer body-content">
	@RenderBody()
</div>

<footer class="footer">
	<div class="myContainer footer-container">
		<div class="footer-item">
			<div class="footer-item-header">
				About
			</div>
			<div>
				Join us and discover a work experience where diverse ideas are met with enthusiasm, and where you can learn and grow to your full potential
			</div>
		</div>
		<div class="footer-item">
			<div class="footer-item-header">
				Contact us
			</div>
			<div>
				<p><strong>Address: </strong>Viacheslava Chornovola Ave, 59, L'viv, Lviv Oblast, 79000
				</p>
				<p><strong>Phone: </strong>+380442233519
				</p>
				<p><strong>Email: </strong><a>weather.ua@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>