
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm("Index", "Weather"))
{
	<div>
		@Html.DropDownList("city", new List<SelectListItem>
		{
			new SelectListItem{ Text = "Kiev", Value = "Kiev"},
			new SelectListItem{ Text = "Lviv", Value = "Lviv"},
			new SelectListItem{ Text = "Kharkiv", Value = "Kharkiv"},
			new SelectListItem{ Text = "Dnipropetrovsk", Value = "Dnipropetrovsk"},
			new SelectListItem{ Text = "Odessa", Value = "Odessa"},
		})
	</div>
	<div>
		@Html.RadioButton("time", "1") Current Day<br />
		@Html.RadioButton("time", "3") 3 Days<br />
		@Html.RadioButton("time", "7") 7 Days <br />
	</div>
		<input type="submit" value="Show"/>
}
<div class="container">
	@RenderBody()
</div>

