@model IEnumerable<WeatherApp.Models.HistoryResponse>
@{
	ViewBag.Title = "Index";
}

@if (Model == null || !Model.Any())
{
	<div class="text-center text-color-grey">
		<h2>Oops, the history is empty</h2>
	</div>
}
else
{
	<div class="with80 center-container text-color-grey">
		<div class="page-title">
			History
		</div>
		<div id="clear-history">
			@Html.ActionLink("Clear History", "Clear")
		</div>
		@foreach (var item in Model)
		{
			<div class="row history-item-container">

				<div class="col-xs-3 history-item-left">
					<div class="text-primary">
						<strong>@item.Time.ToString("dd MMM HH:mm:ss")</strong>
					</div>
					<div class="history-city">
						<strong>@item.Weather.CityName</strong>
					</div>
					<div class="history-country">
						@item.Weather.CountryCodeOfTheCity
					</div>
				</div>
				<div class="col-xs-9 history-item-right">
					<div class="history-weather-header-container">
						<div id="history-img-container">
							<img src="@($"/Content/WeatherIcons/{item.Weather.WeatherList[0].Icon}")" alt="@item.Weather.WeatherList[0].Description">
						</div>
						<div>
							<div class="row text-primary history-weather-temp"><strong>@item.Weather.WeatherList[0].DayTemp°</strong></div>
							<div class="row history-weather-date">@item.Weather.WeatherList[0].Time.ToString("M")</div>
							<div class="row history-weather-description">@item.Weather.WeatherList[0].Description</div>
						</div>
					</div>
					<div class="row weather-values-container">
						<div class="col-xs-6 weather-value-colum ">
							<div class="row weather-value">
								<div class="col-xs-6">
									Pressure:
								</div>
								<div class="col-xs-6">
									@item.Weather.WeatherList[0].Pressure hPa
								</div>
							</div>
							<div class="row weather-value">
								<div class="col-xs-6">
									Humidity:
								</div>
								<div class="col-xs-6 ">
									@item.Weather.WeatherList[0].Humidity %
								</div>
							</div>
						</div>
						<div class="col-xs-6 weather-value-colum ">
							<div class="row weather-value">
								<div class="col-xs-6">
									Clouds:
								</div>
								<div class="col-xs-6 ">
									@item.Weather.WeatherList[0].Clouds %
								</div>
							</div>
							<div class="row weather-value">
								<div class="col-xs-6">
									Wind Speed:
								</div>
								<div class="col-xs-6">
									@item.Weather.WeatherList[0].WindSpeed mps
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
}
