@using WeatherApp.Models
@model WeatherApp.Models.Weather
@{
	ViewBag.Title = "Index";
	int CountOfDays = Model?.WeatherList?.Count ?? 0;
	string sWeatherItemColonClass = "one-cols";
	switch (CountOfDays)
	{
		case 3:
			sWeatherItemColonClass = "three-cols";
			break;
		case 7:
			sWeatherItemColonClass = "seven-cols";
			break;
	}
}

<div class="row search-panel">
	<div class="col-xs-12 ">
		@using (Html.BeginForm("Index", "Home"))
		{
			<div class="form-group">
				<div class="col-xs-10 search-input">
					@Html.TextBox("city", null, new { @class = "form-control col-xs-10", placeholder = "City name", required = "required" })
				</div>
				<div class="col-xs-2">
					<input type="submit" value="Find" class="btn btn-primary" />
				</div>
			</div>
		}
	</div>
	<div class="col-xs-8">
		<ul class="list-inline">
			@foreach(var cityName in (IEnumerable<City>) ViewBag.DefaultCities)
			{
				<li>@Html.ActionLink(cityName.Name, "Index", new { city = cityName.Name })</li>
			}
		</ul>
	</div>
	<div class="col-xs-2">
		<ul class="list-inline pull-right">
			<li>@Html.ActionLink("Edit cities", "Index", "Cities")</li>
		</ul>
	</div>
</div>
<hr id="search-hr" />

@if (@CountOfDays == 0)
{
	<h2 class="text-center text-color-grey">Please, enter the city name...</h2>
}
else
{
	<div class="container">
		<div class="city-name text-color-grey">
			<h1 class=" text-center">@Model.CityName</h1>
			<div class="text-center"><h4>@Model.CountryCodeOfTheCity</h4></div>
		</div>
		<h3 class="text-primary text-center">
			Weather Forecast For
			@((@CountOfDays == 1) ? "Current Day" :
			(@CountOfDays == 3) ? "3 Days" : "7 Days")
		</h3>
		<ul class="list-inline center-list">
			<li>@Html.ActionLink("Current Day", "Index", new { time = 1, city = @Model.CityName })</li>
			<li>@Html.ActionLink("3 Days", "Index", new { time = 3, city = @Model.CityName })</li>
			<li>@Html.ActionLink("7 Days", "Index", new { time = 7, city = @Model.CityName })</li>
		</ul>
		<div class="row @sWeatherItemColonClass weather-container">
			@foreach (var w in @Model.WeatherList)
			{
				<div class="col-sm-1 weather-item">
					<div class="container">
						<div class="weather-item-header text-color-grey">
							<h3>@w.DayTemp°</h3>
						</div>
						<div class="weather-item-header text-color-grey">
							@w.Time.ToString("M")
						</div>
						<div class="row">
							<img src="@($"/Content/WeatherIcons/{w.Icon}")" alt="@w.Description" class="weather-img ">
						</div>
						<div class="weather-item-header text-color-grey">
							@w.Description
						</div>
						<div class="row text-center min-max-temp text-info">
							<div class="row">
								<div class="col-sm-6">
									<h5>Min</h5>
								</div>
								<div class="col-sm-6">
									<h5>Max</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<h5>@w.MinTemp°</h5>
								</div>
								<div class="col-sm-6">
									<h5>@w.MaxTemp°</h5>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 weather-value">
								Pressure:
							</div>
							<div class="col-sm-6 weather-value text-right">
								@(w.Pressure) hPa
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 weather-value">
								Humidity:
							</div>
							<div class="col-sm-6 weather-value  text-right">
								@w.Humidity %
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 weather-value">
								Clouds:
							</div>
							<div class="col-sm-6 weather-value  text-right">
								@w.Clouds %
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 weather-value">
								Wind speed
							</div>
							<div class="col-sm-6 weather-value  text-right">
								@w.WindSpeed mps
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}


