@using WeatherApp.Models
@model WeatherApp.Models.Weather
@{
	ViewBag.Title = "Index";
	var CountOfDays = Model?.WeatherList?.Count ?? 0;
	var sWeatherItemColonClass = "one-cols";
	switch (CountOfDays)
	{
		case 3:
			sWeatherItemColonClass = "three-cols";
			break;
		case 7:
			sWeatherItemColonClass = "seven-cols";
			break;
	}
}

<div class="row search-panel">
	<div class="col-xs-12 ">
		@using (Html.BeginForm("Index", "Home"))
		{
			<div class="form-group">
				<div class="col-xs-11 search-input">
					@Html.TextBox("city", null, new { @class = "form-control col-xs-10 input-lg", placeholder = "City name", required = "required" })
				</div>
				<div class="col-xs-1">
					<input type="submit" value="Find" class="" />
				</div>btn btn-primary input-lg btn-block
			</div>
		}
	</div>
	<div class="col-xs-11 home-cities-container">
		<ul class="list-inline">
			@foreach (var cityName in (IEnumerable<City>)ViewBag.DefaultCities)
			{
				<li>@Html.ActionLink(cityName.Name, "Index", new { city = cityName.Name })</li>
			}
		</ul>
		<ul class="list-inline">
			<li>@Html.ActionLink("Edit cities", "Index", "Cities")</li>
		</ul>
	</div>
</div>
@if (CountOfDays == 0)
{
	<h2 class="text-center text-color-grey">Please, enter the city name...</h2>
}
else
{
	<div class="myContainer">
		<div class="home-city-name-container text-color-grey">
			<div class="home-city-name-container-top">
				<div>@Model.CityName</div>
				<div>
					Weather Forecast For
					@(CountOfDays == 1 ? "Current Day" :
						  CountOfDays == 3 ? "3 Days" : "7 Days")
				</div>

			</div>
			<div class="home-city-name-container-bottom">
				<div>@Model.CountryCodeOfTheCity</div>
				<ul class="list-inline">
					<li>@Html.ActionLink("Current Day", "Index", new { time = 1, city = Model.CityName })</li>
					<li>@Html.ActionLink("3 Days", "Index", new { time = 3, city = Model.CityName })</li>
					<li>@Html.ActionLink("7 Days", "Index", new { time = 7, city = Model.CityName })</li>
				</ul>
			</div>
		</div>
		@if (Model.WeatherList.Count == 1)
		{
			var w = @Model.WeatherList[0];
			<div class="row text-color-grey home-single-weather-container">
				<div class="col-xs-3 home-single-weather-left">
					<div class="text-primary">
						@w.DayTemp°
					</div>
					<div class="">
						@w.Time.ToString("M")
					</div>
					<div class="row">
						<img src="@($"/Content/WeatherIcons/{w.Icon}")" alt="@w.Description" class="weather-img ">
					</div>
					<div class="">
						@w.Description
					</div>
				</div>
				<div class="col-xs-9">
					<div class="row text-center mix-max-container">
						<div>
							<div class="col-sm-6 text-primary">
								Min
							</div>
							<div class="col-sm-6 text-primary">
								Max
							</div>
						</div>
						<div>
							<div class="col-sm-6">
								@w.MinTemp°
							</div>
							<div class="col-sm-6">
								@w.MaxTemp°
							</div>
						</div>
					</div>
					<div class="home-single-weater-info-container text-center">
						<div class="row">
							<div class="col-sm-6">
								Pressure:
							</div>
							<div class="col-sm-6">
								@(w.Pressure) hPa
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								Humidity:
							</div>
							<div class="col-sm-6">
								@w.Humidity %
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								Clouds:
							</div>
							<div class="col-sm-6">
								@w.Clouds %
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 ">
								Wind speed
							</div>
							<div class="col-sm-6">
								@w.WindSpeed mps
							</div>
						</div>
					</div>
				</div>
			</div>
		}
		else
		{
			<div class="row @sWeatherItemColonClass weather-container">
				@foreach (var w in Model.WeatherList)
				{
					<div class="col-sm-1 weather-item">
						<div class="container">
							<div class="weather-item-header text-primary">
								@w.DayTemp°
							</div>
							<div class="weather-item-header text-color-grey">
								@w.Time.ToString("M")
							</div>
							<div class="row">
								<img src="@($"/Content/WeatherIcons/{w.Icon}")" alt="@w.Description" class="weather-img ">
							</div>
							<div class="weather-item-header text-color-grey">
								@w.Description
							</div>
							<div class="row text-center min-max-temp text-info">
								<div class="row">
									<div class="col-sm-6">
										Min
									</div>
									<div class="col-sm-6">
										Max
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										@w.MinTemp°
									</div>
									<div class="col-sm-6">
										@w.MaxTemp°
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 weather-value">
									Pressure:
								</div>
								<div class="col-sm-6 weather-value text-right">
									@(w.Pressure) hPa
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 weather-value">
									Humidity:
								</div>
								<div class="col-sm-6 weather-value  text-right">
									@w.Humidity %
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 weather-value">
									Clouds:
								</div>
								<div class="col-sm-6 weather-value  text-right">
									@w.Clouds %
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 weather-value">
									Wind speed
								</div>
								<div class="col-sm-6 weather-value  text-right">
									@w.WindSpeed mps
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		}
	</div>
}